.submit-button {
  width: 396px;
  line-height: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 45px;
  border-radius: 3px;
  background-color: #4285F4;
  border: 0;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 134px;
}

.submit-button_green {
  background-color: #3DDC84;
}

.form_edit-profile .submit-button {
  width: 410px;
  margin-top: 220px;
}

.form_login .submit-button {
  margin-top: 221px;
}

.search-form .submit-button {
  width: 100px;
  height: 52px;
  margin: 0 10px 0 0;
}