.form {
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

.form__title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 40px;
}

.form_edit-profile {
 width: 410px;
}

.form_edit-profile .form__title {
  margin-top: 74px;
  text-align: center;
  margin-bottom: 123px;
}

.form_login {
  width: 396px;
}