.form {
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

.form__title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 40px;
}

.form_edit-profile {
 width: 410px;
}

.form_edit-profile .form__title {
  margin-top: 74px;
  text-align: center;
  margin-bottom: 123px;
}

.form_login {
  width: 396px;
}

.form__movies-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  height: 72px;
  border-radius: 8px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
}

.form__fields-wrapper {
  width: 396px;
}

.form__footer-wrapper {
  margin-top: 189px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form__error {
  color: #EE3465;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}