.movies-card-list {
  width: fit-content;
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(3, minmax(360px, 319px));
  row-gap: 32px;
  column-gap: 32px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    padding: 70px 30px 30px 30px;
    grid-template-columns: repeat(2, minmax(342px, 309px));
    row-gap: 35px;
    column-gap: 24px;
  }
}