.header {

}

.logo {
  background-image: url("../../images/header_logo.png");
  width: 38px;
  height: 38px;
}

.navigation {

}

.navigation__link {

}

.profile {

}

.profile__link {

}

.profile__icon {
  background-image: url("../../images/profile-icon.png");
  width: 12px;
  height: 12px;
}