.movies-card {
  width: 360px;
  height: 319px;
  border-radius: 6px;
  background-color: #222;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.movies-card:hover {
  background-color: #2F2F2F;
}

.movies-card__title-wrapper {
  width: 324px;
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
}

.movies-card__title {
  max-width: 240px;
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__duration {
  color: #8B8B8B;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.movies-card__cover {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.movies-card__save-button {
  border: none;
  width: 100px;
  height: 29px;
  margin-top: 18px;
  border-radius: 20px;
  background-color: #313131;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  cursor: pointer;
}

.movies-card__save-button:hover {
  background-color: #202020;
}

.movies-card__save-button_saved {
  background-color: #EE3465;
  color: rgba(255, 255, 255, 0);
  background-image: url("../../../images/movies-card_save-button-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.movies-card__save-button_delete {
  background-image: url("../../../images/delete_saved_movie.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.movies-card__save-button_saved:hover {
  background-color: #B4163F;
}

@media screen and (max-width: 1279px) {
  .movies-card {
    width: 342px;
    height: 309px;
  }

  .movies-card__cover {
    width: 342px;
    height: 190px;
  }

  .movies-card__title {
    max-width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    width: 300px;
    height: 271px;
  }

  .movies-card__cover {
    width: 300px;
    height: 168px;
  }

  .movies-card__title-wrapper {
    width: 272px;
    margin: 14px;
  }

  .movies-card__title {
    max-width: 200px;
    font-size: 12px;
  }

  .movies-card__duration {
    font-size: 10px;
  }
}