.about-me {
  max-width: 100%;
  padding: 110px 70px 0 70px;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  max-width: 100%;
  color: white;
  font-family: Inter, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: white solid 1px;
  padding-bottom: 23px;
}

.about-me__wrapper {
  color: white;
  font-family: Inter, serif;
  margin-top: 66px;
  display: grid;
  grid-template-rows: 58px 38px 1fr 17px;
  grid-template-columns: 1fr 270px;
  gap: 0;

}

.about-me__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  height: 20px;
  color: white;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.about-me__dev {
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: white;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.about-me__text {
  margin-top: 26px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: white;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 600px;
}

.about-me__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  background-image: url("../../../images/photo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 2;
}