.login {
  width: 396px;
  margin: auto;
  padding-top: 70px;
}

.login__footer {
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}

.login__footer-link {
  color: #4285F4;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.login__footer-link:hover {
  color: #2D6EDB;
}